body {
 margin: 0;
/* padding: 30px; */
}

.locationBox {
    display: flex;
}
.locationName {
    font-size: 25px;
}
.coordinates {
    font-size: 25px;
    color: gray;
}


h1 {
    padding: 0;
    margin: 0;
}

.card-img-top {
    max-width: 320px;
    max-height: 180px;
}